{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create a new review{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Créer une critique</h2>
                <div class="card">
                    <div class="card-header">
                        <h3>Livre / Article</h3>
                    </div>
                    <div class="card-body">

                        <h4>Titre</h4>
                        <p>{{ ticket_form.title }}</p>
                        <h4>Description</h4>
                        <p>{{ ticket_form.description }}</p>
                        <h4>Image</h4>
                        <p>{{ ticket_form.image }}</p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h3>Critique</h3>
                    </div>
                    <div class="card-body">
                        <h4>Titre</h4>
                        <p>{{ review_form.headline }}</p>
                        <h4>Note</h4>
                        <p>{{ review_form.rating }}</p>
                        <h4>Commentaire</h4>
                        <p>{{ review_form.body  }}</p>
                    </div>
                </div>
                <br>
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}