{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h4 class="card-header">
                    Inscrivez-vous maintenant
                </h4>
                <div class="card-body">
                    <form method="post">
                        <a class="btn btn-primary" href="{% url 'signup' %}">S'inscrire</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="card-header">
                    Connection
                </h4>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        </br>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}